<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>My Travel Agency Web Application</display-name>

  <!--Home page-->
  <welcome-file-list>
    <welcome-file>/WEB-INF/views/home.jsp</welcome-file>
  </welcome-file-list>

  <!--Controller-->
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>com.mytravel.controller.Controller</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/my-travel</url-pattern>
  </servlet-mapping>


  <!--============================================================
      Encoding support filter
  =============================================================-->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.mytravel.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <servlet-name>main</servlet-name>
  </filter-mapping>

  <!--============================================================
      Language filter
  =============================================================-->
  <filter>
    <filter-name>LanguageFilter</filter-name>
    <filter-class>com.mytravel.filter.LanguageFilter</filter-class>
    <init-param>
      <param-name>language</param-name>
      <param-value>uk</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>LanguageFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <servlet-name>main</servlet-name>
  </filter-mapping>

  <!--Context listener-->
  <listener>
    <listener-class>com.mytravel.listener.ContextListener</listener-class>
  </listener>

  <!--Error page-->
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error.jsp</location>
  </error-page>

  <!--  Set the session timeout and cookie max age-->
  <!--  session will alive even browser was closed for specified time-->
  <session-config>
    <session-timeout>1800</session-timeout>
    <cookie-config>
      <max-age>1800</max-age>
    </cookie-config>
  </session-config>

<!--Set localization -->
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>language</param-value>
  </context-param>
<!--  Set default language-->
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
    <param-value>uk</param-value>
  </context-param>
  <!--  Set locales properties-->
  <context-param>
    <param-name>locales</param-name>
    <param-value>/WEB-INF/locales.properties</param-value>
  </context-param>


</web-app>
